# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* some of the data management tools include MySQL, MangoDB etc.
* Data integratin tools are Apache kafka, Apache Nife and kuberflow
* Data visualisation tools are Hue, Kibana and Apache superset
* Code asset management tools are Git, Github etc.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib

| Data science tools |
----------------------
| MySQL |
| PostgreSQL |
| MangoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

NIZAM K C